.regMes{
    position: absolute;
    margin-left: 40vw;
    margin-top: 30vh;
    width: 200px;
border: 1px solid black;
}

.regForm{
 width: 200px;
 height: 100px;
 display: flex;
 flex-direction: column;
 justify-content: space-around; 
 align-items: center; 
}

.divChat{
    display: flex;
}

.divName{
    width: 100px;
    min-height: 30px;
    border: 1px solid black;
    border-radius: 10px 0 0 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.divMesForm{
    width: 400px;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 10px; 
    display: flex;
 flex-direction: column;
 justify-content: space-between; 
 align-items: center; 
}

.divMes{ 
    width: 400px;
    height: 450px;
    overflow: scroll;    
 display: flex;
 flex-direction: column; 
}

.chatInput{
    width: 380px;
    height: 30px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
}

.messageConteiner{
    
    width: 350px;    
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
   }

   .right{
    align-items: flex-end;  
   }

   .left{
    align-items: flex-start;  
   }

/* .regLabel{

}

.regButton{

} */
   

















